


<div class="container-fluid">
    

        <div class="row card">
            <div class="row header-section">
                <span>XFA Assessment Tool</span>
            </div>
             <!-- <h3>{{data}}</h3> -->
   <form>
    <h4>Welcome to the XFA Assessment Tool</h4>
    <div class="login-dark para">
        <img src="assets\image1.jpg" style="width:100%; "> 
   
      <div class="side">
        <p>In publishing and graphic design, <br>Lorem ipsum is a placeholder text <br>commonly used to 
            demonstrate the<br> visual form of a document or a typeface <br>without relying on meaningful content.</p>
        
        <div class="col-sm-5" style="float:left;text-align: center;"><button type="submit" class="btn btn-primary" (click)="submit()" >Continue</button></div>
    </div>
</div>


</form>
</div>
</div>

